<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
</head>
<body>
<div th:fragment="modal_edit" class="modal" id="modal_edit" tabindex="-1"
     aria-labelledby="exampleModalCenteredLabel" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit user</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close">
                </button>
            </div>
            <div class="modal-body justify-content-center text-center modal-param">
                <div class="container-fluid">
                    <div class="row justify-content-center">
                        <div class="col-6">
                            <form id="edit_form" action="/admin/edit" method="POST" th:object="${user}">
                                <input type="hidden" id="user_id_hidden" th:field="*{id}">
                                <div class="mb-3">
                                    <label for="user_id"><b>ID</b></label>
                                    <input id="user_id" class="form-control" type="text" disabled>
                                </div>
                                <div class="mb-3">
                                    <label for="name"><b>Name</b></label>
                                    <input id="name" class="form-control" type="text" th:field="*{name}">
                                </div>
                                <div class="mb-3">
                                    <label for="login"><b>Login</b></label>
                                    <input id="login" class="form-control" type="text" th:field="*{login}">
                                </div>
                                <div class="mb-3">
                                    <label for="password"><b>Password</b></label>
                                    <input id="password" class="form-control" type="text" name="password">
                                </div>
                                <div class="mb-3">
                                    <label for="role_select"><b>Role</b></label>
                                    <select class="form-select" name="role_select" id="role_select" size="2" multiple>
                                        <option th:each="role : ${roles}"
                                                th:value="${role.getId()}"
                                                th:text="${role.getAuthority()}"></option>
                                    </select>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" form="edit_form" class="btn btn-primary">Edit</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>